<div>
  <div>
    <h1>
      <%= @the_genre.genre %> books
    </h1>

    <div>
      <div>
        <a href="/genres">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_genre/<%= @the_genre.id %>">
          Delete genre
        </a>
      </div>
    </div>

<hr>

<table border="1">
  <tr>
    <th> Title (link to book details page) </th>
    <th> Synoposis </th> 
    <th> Publication Date </th> 
    <th> Average Rating </th> 
  <tr> 
  <tr>
    <td> Blah </th>
    <td> Blah </th> 
    <td> Blah </th> 
    <td> Blah </th> 
  <tr> 
</table>

<hr>

<div>
  <div>
    <h2>
      Edit genre (DELETE?)
    </h2>

    <form action="/modify_genre/<%= @the_genre.id %>"  method="post" >
      <div>
        <label for="book_id_box">
          Book
        </label>

        <input type="text" id="book_id_box" name="query_book_id" value="<%= @the_genre.book_id %>">
      </div>

      <div>
        <label for="genre_box">
          Genre
        </label>

        <input type="text" id="genre_box" name="query_genre" value="<%= @the_genre.genre %>">
      </div>

      <button>
        Update genre
      </button>
    </form>
  </div>
</div>
