<h1> Welcome USERNAME </h1> 

<hr>

<ul>
  <li> <a href="/edit_user_profile"> Update account </a> </li>
  <li> <a href="/cancel_user_account"> Delete account </a> </li> 
</ul>

<hr>

<h2> My TBR </h2> 

<table border = "1">
  <tr> 
    <th> Status (FIGURE OUT DROP-DOWN) </th>
    <th> </th> 
    <th> Title </th>
    <th> Author </th>
    <th> Publication Year (UPDATE TO JUST YEAR) </th>
    <th> Genre (ORDER LIST)</th>
    <th> Shelf Life </th>

  <% @user.tbrs.each do |a_TBR| %>
    <tr>
      <td> Currently Reading / On Shelf </td>
      <td> <img src="<%= a_TBR.book.cover %>"> </td> 
      <td> <a href="/books/<%=a_TBR.book.id%>"> <%= a_TBR.book.title %> </a> </td>
      <td> <a href="/authors/<%=a_TBR.book.author.id%>"> <%= a_TBR.book.author.name %> </a> </td> 
      <td> <%= a_TBR.book.publication_date %> </td> 
      <td> 
        <% a_TBR.book.genres.each do |a_genre| %>
          <li> <a href="/genres/<%=a_genre.id%>"> <%= a_genre.genre %> </a> </li>
        <% end %>
      </td>
      <td> <%= time_ago_in_words(a_TBR.created_at) %> on shelf </td> 
    </tr>
  <% end %>

</table>

<hr>

<div>
  <div>
    <h2>
      Add a new tbr
    </h2>

    <form action="/insert_tbr" method="post">
      <div>
        <label for="user_id_box">
          User (NEED TO AUTOPOPULATE USERNAME)
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="book_id_box">
          Book
        </label>

        <input type="text" id="book_id_box" name="query_book_id">
      </div>

      <button>
        Add to TBR
      </button>
    </form>
  </div>
</div>

<hr>

<h2> Completed Books </h2>

<table border = "1">
  <tr> 
    <th> Title (link to details page) </th>
    <th> Author (link to authors page) </th>
    <th> Rating </th>
    <th> Review </th>
    <th> Update Review </th>
    <th> Delete Review </th>
    <th> Date Completed (time marked COMPLETE) </th>

    <tr>
      <td> 
        Blah
      </td>
    </tr>

</table>

<hr>

<div>
  <div>
    <h2>
      Add a new review
    </h2>

    <form action="/insert_review" method="post">
      <div>
        <label for="book_id_box">
          Book
        </label>

        <input type="text" id="book_id_box" name="query_book_id">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="rating_box">
          Rating
        </label>

        <input type="text" id="rating_box" name="query_rating">
      </div>

      <div>
        <label for="commentary_box">
          Commentary
        </label>

        <textarea id="commentary_box" name="query_commentary" rows="3"></textarea>
      </div>

      <button>
        Create review
      </button>
    </form>
  </div>
</div>


<hr>

<h2> Recommendations </h2> 

<ul> 
  <li> Title 1 (link to details page) </li>
  <li> Title 2 </li> 
</ul>
