<h1> Welcome <%= @user.username %>!! </h1> 

<hr>

<ul>
  <li> <a href="/authors"> Browse by author </a> </li>
  <li> <a href="/books"> Browse by book </a> </li>
  <li> <a href="/genre_lists"> Browse by genre </a> </li>
</ul>

<hr>

<h2> My TBR Shelf </h2> 

<table border = "1">
  <tr> 
    <th> Status </th>
    <th> Title </th>
    <th> </th> 
    <th> Author </th>
    <th> Publication Year </th>
    <th> Genre </th>
    <th> Shelf Life </th>
    <th> Remove from TBR </th> 
    <th> Completed </th> 

  <% @user.tbrs.where(user_id: @user.id).each do |a_TBR| %>
    <% book_id = a_TBR.book.id%>
    <% if @user.completeds.where(book_id: book_id).length() == 0 %>
      <tr>
        <td> 
          <select> 
            <option> Currently Reading </option> 
            <option> On Shelf </option> 
          </select>
        </td>
        <td> <img src="<%= a_TBR.book.cover %>"> </td> 
        <td> <a href="/books/<%=a_TBR.book.id%>"> <%= a_TBR.book.title %> </a> </td>
        <td> <a href="/authors/<%=a_TBR.book.author.id%>"> <%= a_TBR.book.author.name %> </a> </td> 
        <td> <%= a_TBR.book.publication_date.year() %> </td> 
        <td> 
          <% a_TBR.book.genres.each do |a_genre| %>
            <li> <a href="/genre_lists/<%=a_genre.id%>"> <%= a_genre.genre.genre_name %> </a> </li>
          <% end %>
        </td>
        <td> <%= time_ago_in_words(a_TBR.created_at) %> on shelf </td> 
        <td>        
        <a href="/delete_tbr/<%=a_TBR.id%>"> Remove </td>
        <td>  
            <form action="/move_to_completed/<%=a_TBR.id%>" method="post"> 
              <input type="hidden" name="query_book_id" value="<%=a_TBR.book_id%>">
              <input type="hidden" name="query_user_id" value="<%=@user.id%>"> 
              <button> Move to Completed Shelf </button> 
            </form>
          <% end %>
        </td> 
      </tr>
  <% end %>

</table>

<hr>

<div>
  <div>
    <h2>
      Add book to TBR
    </h2>

    <form action="/insert_tbr" method="post">
      <div>
        <input type="hidden" id="user_id_box" name="query_user_id" value="<%@user.id%>">
      </div>

      <div>
        <label for="book_id_box">
          Book
        </label>

        <select id="book_id_box" name ="query_book_id"> 
          <% Book.all.order(:title).each do |a_book| %>
            <% if Completed.where(user_id: @user.id, book_id: a_book.id).length == 0 && Tbr.where(user_id: @user.id, book_id: a_book.id).length==0 %>
              <option value="<%= a_book.id%>"> 
                <%= a_book.title %> (<%= a_book.author.name %>)
              </option >
            <% end %>
          <% end %>
        </select>
      </div>

      <button>
        Add to TBR
      </button>
    </form>
  </div>
</div>

<hr>

<h2> Completed Books </h2>

<table border = "1">
  <tr> 
    <th> Title </th>
    <th> </th> 
    <th> Author </th>
    <th> My Rating </th>
    <th> My Review </th>
    <th> Time Completed </th>
    <th> </th>
    <th> </th> 

  <% @user.completeds.each do |a_book| %>
  <tr>
    <td> <img src="<%=a_book.book.cover%>" > </td>
    <td> <a href="/books/<%=a_book.book.id%>"> <%= a_book.book.title %> </a> </td> 
    <td> <a href="/authors/<%= a_book.book.author.id %>"> <%= a_book.book.author.name %> </a>  </td> 
    <td> <% if a_book.book.reviews.where(user_id: @user.id).at(0) == nil %>
            Have not rated
          <% else %>
            <%= a_book.book.reviews.at(0).rating %> 
          <% end %>
    </td>  
    <td> <% if a_book.book.reviews.where(user_id: @user.id).at(0) == nil %>
              <form action="/insert_review" method="post"> 
                  <input type="hidden" name="query_book_id" value="<%=a_book.book.id%>">
                  <input type="hidden" name="query_user_id" value="<%=@user.id%>">
                  <label for="rating_box"> Rating (out of 5.0) </label> 
                  <input type="text" id="rating_box" name="query_rating">
                  <label for="commentary_box">
                    Commentary
                  </label>
                  <textarea id="commentary_box" name="query_commentary" rows="3"></textarea>
                  <button> Add review </button>
              </form>

          <% else %>
            <%= a_book.book.reviews.where(user_id: @user.id).at(0).commentary %> 
          <% end %>
    </td>
    <td> <%= time_ago_in_words(a_book.created_at) %> ago
    <td> <% if a_book.book.reviews.where(user_id: @user.id).at(0) == nil %>
            
          <% else %>
            <a href="/reviews/<%=a_book.book.reviews.where(user_id: @user.id).at(0).id %>"> Update review </a> 
          <% end %>
    </td> 
    <td> <a href="/delete_completed/<%= a_book.id %>"> Remove from shelf </a> 
    </td> 
  </tr>
  <% end %>

</table>

<div>
  <div>
    <h2>
      Add book to Completed Shelf 
    </h2>

    <form action="/insert_completed" method="post">
      <div>
        <input type="hidden" id="user_id_box" name="query_user_id" value="<%=@user.id%>">
      </div>

      <div>
        <label for="book_id_box">
          Book
        </label>

        <select id="book_id_box" name ="query_book_id"> 
          <% Book.all.order(:title).each do |a_book| %>
            <% if Completed.where(user_id: @user.id, book_id: a_book.id).length == 0 && Tbr.where(user_id: @user.id, book_id: a_book.id).length==0 %>
              <option value="<%= a_book.id%>"> 
                <%= a_book.title %> (<%= a_book.author.name %>)
              </option >
            <% end %>
          <% end %>
        </select>
      </div>

      <button>
        Add to shelf
      </button>
    </form>
  </div>
</div>

<hr>

<h2> Recommendations </h2> 

<ul> 
  <li> Title 1 (link to details page) </li>
  <li> Title 2 </li> 
</ul>

<% @user.reviews.where(rating: 3.5...).each do |a_review| %>
  Liked <%= a_review.book.title %>? 


<% end %>

<hr> 

<ul>
  <li> <a href="/edit_user_profile"> Update account </a> </li>
  <li> <a href="/user_sign_out"> Sign out </a> </li>
</ul>
