<h1> Welcome <%= @user.username %>!! </h1> 

<hr>

<ul>
  <li> <a href="/edit_user_profile"> Update account </a> </li>
  <li> <a href="/cancel_user_account"> Delete account </a> </li> 
</ul>

<hr>

<h2> My TBR </h2> 

<table border = "1">
  <tr> 
    <th> Status (FIGURE OUT DROP-DOWN) </th>
    <th> Title </th>
    <th> </th> 
    <th> Author </th>
    <th> Publication Year (UPDATE TO JUST YEAR) </th>
    <th> Genre (ORDER LIST)</th>
    <th> Shelf Life </th>
    <th> Remove from TBR </th> 
    <th> Completed </th> 

  <% @user.tbrs.each do |a_TBR| %>
    <% book_id = a_TBR.book.id%>
    <% if @user.completeds.where(book_id: book_id).length() == 0 %>
      <tr>
        <td> Currently Reading / On Shelf </td>
        <td> <img src="<%= a_TBR.book.cover %>"> </td> 
        <td> <a href="/books/<%=a_TBR.book.id%>"> <%= a_TBR.book.title %> </a> </td>
        <td> <a href="/authors/<%=a_TBR.book.author.id%>"> <%= a_TBR.book.author.name %> </a> </td> 
        <td> <%= a_TBR.book.publication_date %> </td> 
        <td> 
          <% a_TBR.book.genres.each do |a_genre| %>
            <li> <a href="/genre_lists/<%=a_genre.id%>"> <%= a_genre.genre.genre_name %> </a> </li>
          <% end %>
        </td>
        <td> <%= time_ago_in_words(a_TBR.created_at) %> on shelf </td> 
        <td>        
        <a href="/delete_tbr/<%=a_TBR.id%>"> Remove </td>
        <td>  
            <form action="/insert_completed" method="post"> 
              <input type="hidden" name="query_book_id" value="<%=a_TBR.book_id%>">
              <input type="hidden" name="query_user_id" value="<%=@user.id%>"> 
              <button> Move to Completed Shelf </button> 
            </form>
          <% end %>
        </td> 
      </tr>
  <% end %>

</table>

<hr>

<div>
  <div>
    <h2>
      Add book to TBR
    </h2>

    <form action="/insert_tbr" method="post">
      <div>
        <label for="user_id_box">
          User (NEED TO AUTOPOPULATE USERNAME)
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="book_id_box">
          Book
        </label>

        <input type="text" id="book_id_box" name="query_book_id">
      </div>

      <button>
        Add book
      </button>
    </form>
  </div>
</div>

<hr>

<h2> Completed Books </h2>

<table border = "1">
  <tr> 
    <th> Title </th>
    <th> </th> 
    <th> Author </th>
    <th> My Rating </th>
    <th> My Review </th>
    <th> Time Completed </th>
    <th> </th>

  <% @user.completeds.each do |a_book| %>
  <tr>
    <td> <img src="<%=a_book.book.cover%>" > </td>
    <td> <a href="/books/<%=a_book.book.id%>"> <%= a_book.book.title %> </a> </td> 
    <td> <a href="/authors/<%= a_book.book.author.id %>"> <%= a_book.book.author.name %> </a>  </td> 
    <td> <% if a_book.book.reviews.at(0) == nil %>
            Have not rated
          <% else %>
            <%= a_book.book.reviews.at(0).rating %> 
          <% end %>
    </td>  
    <td> <% if a_book.book.reviews.at(0) == nil %>
            <a href="/reviews"> Write review </a> 
          <% else %>
            <%= a_book.book.reviews.at(0).commentary %> 
          <% end %>
    </td>
    <td> <%= time_ago_in_words(a_book.created_at) %> ago
    <td> <% if a_book.book.reviews.at(0) == nil %>
            
          <% else %>
            <a href="/reviews/<%=a_book.book.reviews.at(0).id %>"> Update review </a> 
          <% end %>
    </td> 
  </tr>
  <% end %>

</table>

<hr>

<div>
  <div>
    <h2>
      Add a new review
    </h2>

    <form action="/insert_review" method="post">
      <div>
        <label for="book_id_box">
          Book
        </label>

        <input type="text" id="book_id_box" name="query_book_id">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="rating_box">
          Rating
        </label>

        <input type="text" id="rating_box" name="query_rating">
      </div>

      <div>
        <label for="commentary_box">
          Commentary
        </label>

        <textarea id="commentary_box" name="query_commentary" rows="3"></textarea>
      </div>

      <button>
        Create review
      </button>
    </form>
  </div>
</div>


<hr>

<h2> Recommendations </h2> 

<ul> 
  <li> Title 1 (link to details page) </li>
  <li> Title 2 </li> 
</ul>
