<div>
  <div>
    <h1>
      Tbr #<%= @the_tbr.id %> details
    </h1>

    <div>
      <div>
        <a href="/tbrs">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_tbr/<%= @the_tbr.id %>">
          Delete tbr
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @the_tbr.user_id %>
      </dd>

      <dt>
        Book
      </dt>
      <dd>
        <%= @the_tbr.book_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_tbr.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_tbr.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit tbr
    </h2>

    <form action="/modify_tbr/<%= @the_tbr.id %>"  method="post" >
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_tbr.user_id %>">
      </div>

      <div>
        <label for="book_id_box">
          Book
        </label>

        <input type="text" id="book_id_box" name="query_book_id" value="<%= @the_tbr.book_id %>">
      </div>

      <button>
        Update tbr
      </button>
    </form>
  </div>
</div>

<hr>
