<div>
  <div>
    <h1>
      <%= @the_author.name %>
    </h1>

    <div>
      <div>
        <a href="/authors">
          Go back
        </a>
      </div>
    </div>

    <dl>
      <dd>
        <img src="<%= @the_author.photo %>">
      </dd>
    </dl>

    <dl>
      <dd>
        <%= @the_author.bio %>
      </dd>
    </dl>
  </div>
</div>

<hr>

<h2> List of Books </h2> 

<table border="1">
  <tr>
    <th> Title </th>
    <th> Genre </th> 
    <th> Synopsis </th> 
    <th> Publication Date </th> 
    <th> Average Rating </th> 
  <tr> 

  <% @the_author.books.each do |a_book| %>
  <tr>
    <td> <a href="/books/<%=a_book.id%>"> <%= a_book.title %> </a> </td>
    <td> 
      <% a_book.genres.each do |a_genre| %> 
        <li> <a href="/genre_lists/<%=a_genre.id%>"> <%= a_genre.genre.genre_name %> </a> </li> 
      <% end %>
    </td>
    <td> <%= a_book.synoposis %> </td>
    <td> <%= a_book.publication_date %> </td>
    <td> blah </td> 
  <tr>
  <% end %>

</table>

<hr>
