<div>
  <div>
    <h1>
      List of all books
    </h1>
  </div>
</div>

<hr>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Cover
        </th>

        <th>
          Title
        </th>

        <th>
          Author
        </th>

        <th>
          Synoposis
        </th>

        <th>
          Publication date
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_books.each do |a_book| %>
      <tr>
        <td>
          <%= a_book.id %>
        </td>

        <td>
          <img src="<%= a_book.cover %>">
        </td>

        <td>
          <%= a_book.title %>
        </td>

        <td>
          <%= a_book.author_id %>
        </td>

        <td>
          <%= a_book.synoposis %>
        </td>

        <td>
          <%= a_book.publication_date %>
        </td>

        <td>
          <%= time_ago_in_words(a_book.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_book.updated_at) %> ago
        </td>

        <td>
          <a href="/books/<%= a_book.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
