<div>
  <div>
    <h1>
      Browse by book
    </h1>
  </div>
</div>

<hr>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Title
        </th>

        <th>
          
        </th>

        <th>
          Author
        </th>

        <th>
          Synoposis
        </th>

        <th>
          Publication date
        </th>

      </tr>

      <% @list_of_books.each do |a_book| %>
      <tr>
        <td>
          <img src="<%= a_book.cover %>">
        </td>

        <td>
          <a href="/books/<%=a_book.id%>"> <%= a_book.title %> </a> 
        </td>

        <td>
          <a href="/authors/<%=a_book.author.id%>"> <%= a_book.author.name %> </a> 
        </td>

        <td>
          <%= a_book.synoposis %>
        </td>

        <td>
          <%= a_book.publication_date %>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
