<div>
  <div>
    <h1>
      Browse by book
    </h1>
  </div>
</div>

<hr>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Title
        </th>

        <th>
          
        </th>

        <th>
          Author
        </th>

        <th>
          Synoposis
        </th>

        <th>
          Publication year
        </th>

        <th> 
        </th> 

      </tr>

      <% @list_of_books.each do |a_book| %>
      <tr>
        <td>
          <img src="<%= a_book.cover %>">
        </td>

        <td>
          <a href="/books/<%=a_book.id%>"> <%= a_book.title %> </a> 
        </td>

        <td>
          <a href="/authors/<%=a_book.author.id%>"> <%= a_book.author.name %> </a> 
        </td>

        <td>
          <%= a_book.synoposis %>
        </td>

        <td>
          <%= a_book.publication_date.year() %>
        </td>

        <td> 
          <% if a_book.completeds.where({book_id: a_book.id, user_id: session[:user_id]}).at(0) != nil %>
            <% status = "On Completed Shelf" %>
            <%= status %>
          <% elsif a_book.tbrs.where({book_id: a_book.id, user_id: session[:user_id]}).at(0) != nil %> 
            <% status = "On TBR Shelf" %>
            <%= status %>
          <% else %> 
            <form action="/insert_tbr" method="post"> 
              <input type="hidden" name="query_book_id" value="<%=a_book.id%>">
              <button> Add to TBR </button> 
            </form>
          <% end %>
        </td> 

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
