<div>
  <div>
    <h1>
      Browse by Book
    </h1>
  </div>
</div>

<hr>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Title
        </th>

        <th>
          
        </th>

        <th>
          Author
        </th>

        <th>
          Synoposis
        </th>

        <th>
          Publication year
        </th>

        <th> 
        </th> 

      </tr>

      <% @list_of_books.each do |a_book| %>
      <tr>
        <td>
          <img src="<%= a_book.cover %>">
        </td>

        <td>
          <a href="/books/<%=a_book.id%>"> <%= a_book.title %> </a> 
        </td>

        <td>
          <a href="/authors/<%=a_book.author.id%>"> <%= a_book.author.name %> </a> 
        </td>

        <td>
          <%= a_book.synoposis %>
        </td>

        <td>
          <%= a_book.publication_date.year() %>
        </td>

        <td> 
          <% if a_book.completeds.where({book_id: a_book.id, user_id: session[:user_id]}).at(0) != nil %>
            <% status = "On Completed Shelf" %>
            <%= status %>
          <% elsif a_book.tbrs.where({book_id: a_book.id, user_id: session[:user_id]}).at(0) != nil %> 
            <% status = "On TBR Shelf" %>
            <%= status %>
          <% else %> 
            <form action="/insert_tbr" method="post"> 
              <input type="hidden" name="query_book_id" value="<%=a_book.id%>">
              <button> Add to TBR </button> 
            </form>
          <% end %>
        </td> 

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Don't see a book? Add here!
    </h2>

    <form action="/insert_book" method="post">
      <div>
        <label for="title_box">
          Title 
        </label>

        <input type="text" id="title_box" name="query_title" placeholder="Insert title here">
      </div>

      <div>
        <label for="cover_box">
          Link to cover image 
        </label>

        <input type="text" id="cover_box" name="query_cover" placeholder="http://image_here.jpg">
      </div>

      <div>
        <label for="author_box">
          Author 
        </label>

        <select id="author_box" name ="query_author_id"> 
          <option> Select an author </option>
          <% Author.all.order(:name).each do |an_author| %>
              <option value="<%= an_author.id%>"> 
                <%= an_author.name %>
              </option >
          <% end %>
        </select>
        
        <a href="/authors"> Don't see the author? </a>

      </div>

      <div>
        <label for="date_box">
          Publication Date 
        </label>

        <input type="text" id="date_box" name="query_publication_date" placeholder="2018-12-31">
      </div>

      <div>
        <label for="synopsis_box">
          Synopsis 
        </label>

        <textarea id="synopsis_box" name="query_synoposis"rows="3"></textarea>
      </div>

      <button>
        Add book
      </button>
    </form>
  </div>
</div>
