<div>
  <div>
    <h1>
      <%= @the_book.title %> 
    </h1>

    <div>
      <div>
        <a href="/books">
          Go back
        </a>
      </div>

      <div> 
        <% current_user_tbr = Tbr.where({ :user_id => session[:user_id], :book_id => @the_book.id }).at(0) %>
        <% current_user_completed = Completed.where({ :user_id => session[:user_id], :book_id => @the_book.id }).at(0) %>

        <% if current_user_completed != nil %> 
          <a href="/delete_completed/<%=current_user_completed.id %>"> Remove from Completed Shelf </a> 

        <% elsif current_user_tbr != nil %>
          <a href="/delete_tbr/<%=current_user_tbr.id %>"> Remove from TBR </a> 

        <% else %>
          <form action="/insert_tbr" method="post"> 
            <input type="hidden" name="query_book_id" value="<%=@the_book.id%>">
            <input type="hidden" name="query_user_id" value="<%=session[:user_id]%>">
            <button> Add to TBR </button> 
          </form> 

          <form action="/insert_completed" method="post"> 
            <input type="hidden" name="query_book_id" value="<%=@the_book.id%>">
            <input type="hidden" name="query_user_id" value="<%=session[:user_id]%>">
            <button> Already Completed </button> 
          </form>
        
        <% end %>
      </div>
    </div>


    <dl>
      <dd>
        <img src="<%= @the_book.cover %>">
      </dd>

      <dt>
        Author 
      </dt>
      <dd>
        <a href="/authors/<%= @the_book.author_id %>"> <%= @the_book.author.name %> </a>
      </dd>

      <dt>
        Average Rating
      </dt> 
      <dd> 
        <% rating_sum = 0 %>
        <% rating_count = 0 %>
        <% @the_book.reviews.each do |a_review| %>
          <% rating = a_review.rating %> 
          <% rating_sum = rating_sum + rating %>
          <% rating_count = rating_count + 1 %>
        <% end %>
        <% if rating_count == 0 %>
          No ratings yet :(
        <% else %>
          <%= rating_sum / rating_count %> 
        <% end %>
      </dd>

      <dt>
        Synoposis
      </dt>
      <dd>
        <%= @the_book.synoposis %>
      </dd>

      <dt>
        Publication Date
      </dt>
      <dd>
        <%= @the_book.publication_date %>
      </dd>

      <dt>
        Genres 
      </dt>
      <dd>
        <% @the_book.genres.each do |a_genre| %>
            <li> <a href="/genre_lists/<%=a_genre.genre_id%>"> <%= a_genre.genre.genre_name %> </a> </li>
        <% end %>
      </dd>
    </dl>
  </div>
</div>

<hr>

<h2> Reviews </h2> 

<table border="1">
  <tr>
    <th> User </th>
    <th> Review </th> 
    <th> Time Updated </th> 
  <tr>
  
  <% @the_book.reviews.each do |a_review| %> 
  <tr>
    <td> <%= a_review.user.username %> </td> 
    <td> <%= a_review.commentary %> </td>
    <td> <%= time_ago_in_words(a_review.updated_at)%> ago
  </tr> 
  <%end %>

</table>
