<div>
  <div>
    <h1>
      <%= @the_book.title %> details
    </h1>

    <div>
      <div>
        <a href="/books">
          Go back
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Cover
      </dt>
      <dd>
        <%= @the_book.cover %>
      </dd>

      <dt>
        Author
      </dt>
      <dd>
        <%= @the_book.author_id %>
      </dd>

      <dt>
        Synoposis
      </dt>
      <dd>
        <%= @the_book.synoposis %>
      </dd>

      <dt>
        Publication date [NEED TO FIX; LIMITING DATE TO 2018]
      </dt>
      <dd>
        <%= @the_book.publication_date %>
      </dd>

      <dt>
        Genres (link to Genre page)
      </dt>
      <dd>
        [INSERT GENRES]
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_book.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_book.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>

<h2> Reviews </h2> 

<table border="1">
  <tr>
    <th> User </th>
    <th> Review </th> 
    <th> Date Reviewed </th> 
  <tr> 
</table>

<h3>Add a new review (need some way to validate user has read book) </h3>

<form action="/insert_comment_record">
  <input id="browser_photo_id" type="hidden" name="input_photo_id">

  <label for="browser_comment">Comment</label>
  <textarea id="browser_comment" name="input_body" placeholder="Enter a comment..."></textarea>

  <button>Add comment</button>
</form>
