<div>
  <div>
    <h1>
      <%= @the_book.title %> 
    </h1>

    <div>
      <div>
        <a href="/books">
          Go back
        </a>
      </div>

      <div> 
        Add to TBR



      </div>
    </div>


    <dl>
      <dt>
        
      </dt>
      <dd>
        <img src="<%= @the_book.cover %>">
      </dd>

      <dt>
        Author 
      </dt>
      <dd>
        <a href="/authors/<%= @the_book.author_id %>"> <%= @the_book.author.name %> </a>
      </dd>

      <dt>
        Synoposis
      </dt>
      <dd>
        <%= @the_book.synoposis %>
      </dd>

      <dt>
        Publication Date
      </dt>
      <dd>
        <%= @the_book.publication_date %>
      </dd>

      <dt>
        Genres 
      </dt>
      <dd>
        <% @the_book.genres.each do |a_genre| %>
            <li> <a href="/genre_lists/<%=a_genre.genre_id%>"> <%= a_genre.genre.genre_name %> </a> </li>
        <% end %>
      </dd>
    </dl>
  </div>
</div>

<hr>

<h2> Reviews </h2> 

<table border="1">
  <tr>
    <th> User </th>
    <th> Review </th> 
    <th> Time Updated </th> 
  <tr>
  
  <% @the_book.reviews.each do |a_review| %> 
  <tr>
    <td> <%= a_review.user.username %> </td> 
    <td> <%= a_review.commentary %> </td>
    <td> <%= time_ago_in_words(a_review.updated_at)%> ago
  </tr> 
  <%end %>

</table>
