<div>
  <div>
    <h1>
      List of all completeds
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new completed
    </h2>

    <form action="/insert_completed" method="post">
      <div>
        <label for="book_id_box">
          Book
        </label>

        <input type="text" id="book_id_box" name="query_book_id">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <button>
        Create completed
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Book
        </th>

        <th>
          User
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_completeds.each do |a_completed| %>
      <tr>
        <td>
          <%= a_completed.id %>
        </td>

        <td>
          <%= a_completed.book_id %>
        </td>

        <td>
          <%= a_completed.user_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_completed.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_completed.updated_at) %> ago
        </td>

        <td>
          <a href="/completeds/<%= a_completed.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
