<div>
  <div>
    <h1>
      Completed #<%= @the_completed.id %> details
    </h1>

    <div>
      <div>
        <a href="/completeds">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_completed/<%= @the_completed.id %>">
          Delete completed
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Book
      </dt>
      <dd>
        <%= @the_completed.book_id %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_completed.user_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_completed.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_completed.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit completed
    </h2>

    <form action="/modify_completed/<%= @the_completed.id %>"  method="post" >
      <div>
        <label for="book_id_box">
          Book
        </label>

        <input type="text" id="book_id_box" name="query_book_id" value="<%= @the_completed.book_id %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_completed.user_id %>">
      </div>

      <button>
        Update completed
      </button>
    </form>
  </div>
</div>

<hr>
